langchain
langchain-community
langchain-chroma
langchain-ollama

langchain-text-splitters
langgraph-checkpoint-sqlite

pypdf
unstructured
python-docx
chromadb

ddgs

ruff

python-dotenv
pydantic
rich