langchain
langchain-community
langchain-chroma
langchain-ollama
langchain-huggingface
langchain-text-splitters

pypdf
unstructured
python-docx
chromadb

ruff

sentence-transformers

python-dotenv
pydantic
rich